.calc-bottom--button{
    background-color: #08080a15;
    color: white;
    border: 0;
    font-size: 2rem;
    width:4rem;
    height:4rem;
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 0.25rem;
    
}.calc-bottom--button:hover{
        cursor: pointer;
        background-color: #c0c0d4;
        color: black;
    }